{% load static %}
<style>
     .a 
  {
    font-size: xx-large !important;
    color:  black !important;
  }
</style>
<div id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
       <div class="sidebar-header" style="height: 50px;margin-top: -30px">
         <img src="{% static 'assets/images/logo2.jpg' %}" alt="" srcset="">
                <span class="a">APT</span>
        </div>
       <div class="sidebar-menu">
          <ul class="menu">
             <li class="sidebar-item  ">
                <a href="{% url 'admin_dashboard' %}" class='sidebar-link'>
                <i class="fa fa-home text-success"></i>
                <span>Dashboard</span>
                </a>
             </li>
             <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                <i class="fa fa-building text-success"></i>
                <span >Department</span>
                </a>
                <ul class="submenu ">
                   <li>
                      <a href="{% url 'add_department' %}">Add Department</a>
                   </li>
                   <li>
                      <a href="{% url 'show_departments' %}">Manage Department</a>
                   </li>
                </ul>
             </li>
             <!-- <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                <i class="fa fa-table text-success"></i>
                <span>Designation</span>
                </a>
                <ul class="submenu ">
                   <li>
                      <a href="add_designation.html">Add Designation</a>
                   </li>
                   <li>
                      <a href="manage_designation.html">Manage Designation</a>
                   </li>
                </ul>
             </li> -->
             <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                <i class="fa fa-users text-success"></i>
                <span>Employees</span>
                </a>
                <ul class="submenu ">
                   <li>
                      <a href="{% url 'add_employee' %}">Add Employee</a>
                   </li>
                   <li>
                      <a href="{% url 'show_employees' %}">Manage Employee</a>
                   </li>
                </ul>
             </li>
             <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                <i class="fa fa-table text-success"></i>
                <span>Leave Type</span>
                </a>
                <ul class="submenu ">
                   <li>
                      <a href="{% url 'add_leave_type' %}">Add Leave Type</a>
                   </li>
                   <li>
                      <a href="{% url 'show_leaves_types' %}">Manage Leave Type</a>
                   </li>
                </ul>
             </li>
             <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                <i class="fa fa-table text-success"></i>
                <span>Leave Management</span>
                </a>
                <ul class="submenu ">
                   <li>
                      <a href="{% url 'show_leaves' %}">All Leaves</a>
                   </li>
                   <li>
                      <a href="{% url 'show_pendings' %}">Pending Leaves</a>
                   </li>
                   <li>
                      <a href="{% url 'show_approved' %}">Approve Leaves</a>
                   </li>
                   <li>
                      <a href="{% url 'show_not_approved' %}">Not Approve Leaves</a>
                   </li>
                </ul>
             </li>
             <!-- <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                <i class="fa fa-user text-success"></i>
                <span>Users</span>
                </a>
                <ul class="submenu ">
                   <li>
                      <a href="{% url 'add_user' %}">Add User</a>
                   </li>
                   <li>
                      <a href="{% url 'manage_user' %}">Manage Users</a>
                   </li>
                </ul>
             </li> -->

          
             <li class="sidebar-item ">
               <a href="{% url 'employee_status' %}" class='sidebar-link'>
                  <i class="fa fa-user-cog text-success"></i>

                     <span>Employee Status </span>
               </a>
            </li>
             <li class="sidebar-item ">
               <a href="{% url 'employee_work' %}" class='sidebar-link'>
               <i class="fa fa-check text-success"></i>
                     <span>Employee works </span>
               </a>
            </li>
             <li class="sidebar-item ">
               <a href="{% url 'employee_history' %}" class='sidebar-link'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#00FF00" class="bi bi-clock-history" viewBox="0 0 16 16">
                     <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                     <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                     <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                   </svg>
                     <span>Employee History </span>
               </a>
            </li>
           

            
         
            
            <li class="sidebar-item ">
               <a href="{% url 'report' %}" class='sidebar-link'>
               <i class="fa fa-chart-bar text-success"></i> 
                  <span>Reports</span>
               </a>
            </li>
          </ul>
       </div>
       <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
 </div>
 <div id="main">
    <nav class="navbar navbar-header navbar-expand navbar-light">
       <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
       <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
            <li class="dropdown nav-icon">
                    <a href="#" data-bs-toggle="dropdown"
                        class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                        <div class="d-lg-inline-block">
                        
                     
                        <i data-feather="bell"></i>
                                 <span class="badge bg-info">{{count}}</span>
                        
                           
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-large">
                       
                        <ul class="list-group rounded">
                            <li class="list-group-item border-0 align-items-start">
                            <div class="row mb-2">
                            <div class="col-md-12 notif">
                              {% for x in task%}
                                 {% if x.status == 0%}
                                 <a href="{% url 'show_leaves'%}"><p>{{x.name}} applied for leave</p></a>
                                 {% endif %}
                              {% endfor%}
                                </div>
                              </div>
                            </li>
                        </ul>
                    </div>
                </li>
             <li class="dropdown">
                <a href="#" data-bs-toggle="dropdown"
                   class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                   <div class="avatar me-1">
                      <img src="{% static 'assets/images/admin.png' %}" alt="" srcset="">
                   </div>
                   <div class="d-none d-md-block d-lg-inline-block">Hi, Admin</div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                   <!-- <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                   <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a> -->
                   <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="{% url 'index' %}"><i data-feather="log-out"></i> Logout</a>
                </div>
             </li>
          </ul>
       </div>
    </nav>