<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        body {
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
        }
        .sub {
            background-color: cyan;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
   <script>

    Swal.fire({
        title: "Are you sure want to Delete ?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
        backdrop: true, // Ensure the backdrop is displayed
        showConfirmButton: true, // Show the confirm button
        showCancelButton: true // Show the cancel button
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire({
                title: "Deleted Successfully!!",
                icon: "success",
            }).then((result) => {
                if (result.value) {
                    window.location.href = "http://127.0.0.1:8000/a/";
                }
            });
        } else {
            // Redirect to "show_departments" URL when cancel button is clicked
            window.location.href = "http://127.0.0.1:8000/show_departments/";
        }
    });
   </script>
</body>
</html>
